@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link-nav {
  position: relative;
}

.link-nav::after {
  width: 0px;
  height: 4px;
  background-color: #ffffff;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  transition: width 1s;
}

.link-nav:hover:after {
  width: 100%;
}

.avatar-animation {
  /* position: absolute; */
  animation-name: animationAvatar;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes animationAvatar {
  0% {
    margin-right: -200px;
  }
  100% {
    margin-right: 0px;
  }
}
